@import url('https://fonts.cdnfonts.com/css/seasons');

.containers {
    display: flex;
    max-width: 1200px;
    height: 100vh;
    margin: 40px auto;
}

.nav_p {
    color: #7856FF;
}

.nav_p:hover {
    scale: 1.1;
    transition: all 0.3s ease;
}

.maincontent {
    flex: 2;
}

.subcontent {
    flex: 1;
}

.cont {
    display: flex;
    gap: 35px;
    /* margin-left: 5px; */
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.cont::-webkit-scrollbar {
    width: 0; /* Hide scrollbar in WebKit-based browsers */
    height: 0; /* Hide scrollbar in WebKit-based browsers */
}

.contxx {
    margin-top: 20px;
}

.blogscontent {
    padding-top: 50px;
    padding-right: 90px;
    border-right: 1px solid #e0e0e0;
}

.cont a p {
    color: #7856FF;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
}

.cont a p img {
    margin-left: 5px;
}

.svgi {
    fill: #646CFF;
}

.cont a p img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
    color: #646CFF;
}

.cont a:hover p {
    color: #646CFF;
    border-bottom: 1px solid #646CFF;
    transition: all 0.3s ease;
}

.cont button:focus {
    transform: scale(0.9);
    color: #646CFF;
}

button.btn {
    color: #646CFF;
}

.blogs {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
}

.blogbodyyy {
    flex: 71.43%;
    width: 650px;
    margin: 20px 20px;
}

.blogimage {
    flex: 28.57%;
    padding: 10px;
    height: 200px;
}

.blogimage img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 20px;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.blogdate p {
    color: #6b6b6b;
    font-size: 12px;
    margin-top: 2px;
    margin-left: 15px;
}

.blogbody {
    overflow: hidden;
}

.authinfo {
    display: flex;
    gap: 4px;
    align-items: center;
}

.authimage img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.authname p {
    font-size: 15px;
    color: #3a3939;
    margin-left: 5px;
    font-weight: 400;
}

.blog-title p {
    margin: 5px 0;
    font-family: 'Playfair Display', serif;
    color: #242424;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    line-height: 1.2;
    transition: color 0.3s ease, transform 0.3s ease;
}

.blog-title p:hover {
    color: #646CFF;
    /* transform: translateY(-5px); */
}

.blog-body {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    max-height: 90px;
    color: #444;
    font-size: 14px;
    line-height: 1.6;
    transition: color 0.3s ease;
    font-size: 16px;
}



.blog-info {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 200px;
    gap: 10px;
    margin-top: 20px;
}

.blog-tags {
    background-color: #e0e0e0;
    display: inline-block;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 20px;
    margin-right: 10px;
}

.blogmin p {
    color: #6b6b6b;
    font-size: 13px;
}

.saveicon {
    margin-left: 20px;
}

.saveicon button {
    padding: 2px;
}

.meta {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-picksimg img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    object-fit: cover;
}

.top-picksimg {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topick-title {
    margin: 5px 0;
    font-family: 'Playfair Display', serif;
    color: #333030;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.topic-item {
    background-color: #e0e0e08d;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer;
}

.save-min-read {
    font-size: 13px;
    color: #6b6b6b;
}

.save-min-readx {
    font-size: 13.5px;
    color: #454545;
}

.topics-link p {
    color: #7856FF;
}

.write-start {
    background-color: #fafafa;
    color: #171616;
}

.topick-title p:hover {
    color: #646CFF;
    transition: all 0.3s ease;
}

.noblog {
    font-family: 'Seasons', sans-serif;
    color: rgb(120, 86, 255);
}

.nbv {
    color: #5d6d8a;
}
@media (max-width: 480px) {
    .startwriting,
    .recommended-topics,
    .recently-saved {
        display: none;
    }

    .blogs {
        max-width: 400px;
    }

    .blog-title p {
        font-size: 17px;
        width: 260px;
    }

    .blog-body {
        max-width: 260px;
        display: none;
    }

    .blogbodyyy {
        max-width: 240px;
    }

    .blogimage {
        width: 100px;
        height: 150px;
    }

    .blogimage img {
        width: 90px;
        height: 100px;
        margin-left: 5px;
    }

    .blog-info {
        width: 300px;
    }

    .saveicon {
        /* display: none;  */
        /* Hide save icon on mobile screens */
        margin-right: 65px;
    }

    .blogscontent {
        padding-top: 25px;
        border-right: none;
    }

    .cont {
        max-width: 350px;
        /* adding box shadow only on the right side */
        box-shadow: 5px 0px 5px -5px rgba(0, 0, 0, 0.2);
        position: relative; /* Needed for the pseudo-element */
        overflow-x: auto; /* Allow horizontal scrolling */
        white-space: nowrap; /* Prevent elements from wrapping */
    }

    .cont::after {
        content: "";
        position: fixed; /* Changed to fixed positioning */
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        pointer-events: none; /* Ensure the pseudo-element doesn't interfere with user interactions */
    }

    .nav_p {
        border-bottom: none;
        text-decoration: none;
    }

    div {
        max-width: 415px;
    }

    .blogscontent {
        max-width: 420px;
        padding-right: 5px;
        margin-left: -10px;
    }
}
