.profile-options{
    position: absolute;
    top: 60px;
    right: 22px;
    background-color: rgb(231, 233, 232);
    padding: 10px 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    transition: 0.3s all ease;
}

.profile-options ul{
    list-style-type: none;
}

.profile-options ul li{
    margin-bottom: 10px;
    /* padding: 5px 10px; */
}

.profile-options ul li:hover{
    cursor: pointer;
    color: rgb(120, 86, 255);
    /* background-color: rgb(194, 241, 241); */
    transition: 0.3s ease;

}

.profile-options ul::before{
    content: '';
    position: absolute;
    top: -7px;
    right: 47px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    /* box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); */
    border-bottom: 10px solid rgb(231, 233, 232);
}
