<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
  Note: This tab only shows the initial HTML and is not updated as you type or
  when you click submit.
-->
<label for="default-editor">fsd</label>
<textarea id="default-editor">
    <p><em>Hello</em>, <span style="text-decoration: underline;"><strong>World!</strong></span></p>
  </textarea>
</body>
<script>
    tinymce.init({
        selector: 'textarea#basic-example',
        height: 500,
        plugins: [
          'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
          'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
          'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | blocks | ' +
        'bold italic backcolor | alignleft aligncenter ' +
        'alignright alignjustify | bullist numlist outdent indent | ' +
        'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
      });
</script>
</html>